In [40]:
# pip install requests
# pip install html5lib
# pip install bs4
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
import pandas as pd

In [27]:
###  Getting the entire webpage here

In [ ]:
# Work Completed
1. getting list of military satellites
2. getting list of chinese satellites

In [ ]:
# To Do
1. get chinese military satellites by using intersection
2. get the indvl satellite data

In [81]:
# Working on all Military satellites

# This code returns a list of all military satellites



# this below is the link to all the military satellites.
milHtml = urlopen("https://www.n2yo.com/satellites/?c=30")
soup = BeautifulSoup(milHtml.read(),  "html.parser")
# To displa all the contents of the BS call to the website, generally it is the html code
# print(soup.contents)

# print(soup.find_all('table')[1])

table = soup.find_all('table')[1]
# print(table)

data = []
rows = table.find_all('tr')
# print(rows)
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

# to be used while displaying list in Beautify format    
# print(*(x for x in data), sep='\n') 

tableName = ['Satellite Name', 'Norad Id', 'International Code', 'Launch Date', 'Period (in mins )', 'Track It Button']

op = []

for x in data:
    d = dict(zip(tableName, x))
    op.append(d)

op.remove({}) # removing the first empty dictionary
dfData = pd.DataFrame(op)
dfData.drop(dfData.index[0])
# print(dfData) # printing the data in tabular format for own purposes


file_name = 'Military Sats.xlsx'

# saving the excel 
dfData.to_excel(file_name) 
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [52]:
## Working on all Chinese Satellites

# This Code returns a list of all Chinese Satellites

htmlLink = urlopen("https://www.n2yo.com/satellites/?c=PRC&t=country")
soup = BeautifulSoup(htmlLink.read(),  "html.parser")
table = soup.find('table', class_="footable countrytab")
data = []
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

# to be used while displaying list in Beautify format    
# print(*(x for x in data), sep='\n') 

tableName = ['Satellite Name', 'Norad Id', 'International Code', 'Launch Date', 'Period (in mins )', 'Track It Button']

op = []

for x in data:
    d = dict(zip(tableName, x))
    op.append(d)

op.remove({}) # removing the first empty dictionary
dfData = pd.DataFrame(op)
#  print(dfData) # printing the data in tabular format for own purposes


file_name = 'Chinese Sats.xlsx'

# saving the excel 
dfData.to_excel(file_name) 
print('DataFrame is written to Excel File successfully.')

              Satellite Name Norad Id International Code        Launch Date  \
0                      SJ-23    55131          2023-002A    January 8, 2023
1    SHIYAN 10 02 (SY-10 02)    54878          2022-178A  December 29, 2022
2              XW-4 (CAS-10)    54816          2021-035C     April 29, 2021
3          SHIYAN 21 (SY-21)    54752          2022-172A  December 16, 2022
4               SZ-14 MODULE    54704          2022-060G       June 5, 2022
..                       ...      ...                ...                ...
594  CHINASAT 5 (SPACENET 1)    14985          1984-049A       May 23, 1984
595                  STTW-T2    14899          1984-035A      April 8, 1984
596                  STTW-T1    14670          1984-008A   January 29, 1984
597                    DFH-1     4382          1970-034A     April 24, 1970
598                      NaN      NaN                NaN                NaN

    Period (in mins ) Track It Button
0               644.5        TRACK IT
1               715.9        TRACK IT
2                91.9        TRACK IT
3                94.3        TRACK IT
4                92.2        TRACK IT
..                ...             ...
594            1440.2        TRACK IT
595            1436.2        TRACK IT
596             160.1        TRACK IT
597               110        TRACK IT
598               NaN             NaN

[599 rows x 6 columns]
DataFrame is written to Excel File successfully.

In [34]:
# get data for specific chinese satellite.

baseWebLink = 'https://www.n2yo.com/satellite/?s='
baseWebLink +='33531'
print(baseWebLink)
# htmlLink = urlopen('55131')

https://www.n2yo.com/satellite/?s=33531

In [ ]:
# Getting individual military satellite data
#. https://www.n2yo.com/?s=52259